<div class="container">
    <h3 mat-dialog-title>Add new Gateway</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="Ipv4" [(ngModel)]="data.ipv4" name="ipv4" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="add()">Save</button>
        <button mat-button (click)="cancel()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>